/* Cascade Style Sheet for this website */
:root {
    --regular-font: Verdana, Geneva, Tahoma, sans-serif;

    --blue: #1d9ec9;
    --white: #fff;
    --black: #000;
    --orange: #C9741C;
}

* {
    font-family: var(--regular-font);
    margin: auto;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 5px;
}

header a {
    text-decoration: none;
    color: var(--blue);
}

header a:hover {
    cursor: pointer;
}

/* Navigation */
.navbar {
    position: fixed;
    top: 0px;
    right: 0px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    height: 48px;

    font-size: 18px;
    font-weight: bold;
    color: var(--blue) !important;
    align-content: center;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
}

.navbar li a:hover {
    background-color: var(--blue);
    color: var(--white) !important;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'24
}


/*Content*/

.content {
    width: 800px;
    font-size: 12px;
    color: var(--black);
    margin-top: 120px;
}

.content div {
    margin: 10px;

}

h1,
h2,
h3 {
    min-height: 48px;
    text-align: center;
    color: var(--blue);
}

/*Form*/
input,
textarea,
select {
    width: 400px;
}


input[type="radio"] {
    width: auto;
}

/*Submit button*/
input[type="submit"] {
    width: auto;
    padding: 10px;
    margin: 10px;

    border-radius: 20px;
    border-style: solid;
    border-color: var(--blue);
    background-color: var(--white);

    font-weight: bold;
    font-size: 14px;
    color: var(--blue);
}

input[type="submit"]:hover {
    color: var(--white);
    background-color: var(--blue);
    transition: 0.35s;
}

fieldset {
    border-style: none;
    margin: 0px 0px 0px -10px;
}

/*Labels*/
label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}


input[type="radio"]+label {
    width: auto;
    font-weight: normal;
}

.radiobuttons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.error {
    color: var(--orange);
    font-weight: bold;
}

.productlist {
    margin-top: 120px;
    width: 1000px;

    align-items: center;
    text-align: center;

    font-size: 12px;
    color: var(--black);

}

.productlist img {
    width: 400px;
}

.productlist a {
    text-decoration: none;
}

.productlist a:hover {
    cursor: pointer;
}

.productlist_item {
    display: inline-block;
    width: 400px;

    text-align: left;

    margin: 16px;
    padding: 8px;
}

.productpage {
    margin-top: 120px;
    width: 1200px;

    font-size: 12px;
    color: var(--black);
}

.productpage div {
    display: block;
    width: 580px;
    padding: 5px;
    float: inline-start;
}

.productpage div h3 {
    text-align: right;
    margin: 16px 16px 8px 16px;
}

.productpage img {
    width: 580px;
}

.productpage input[type="submit"] {
    float: inline-end;
}

.shoppingcart {
    width: 800px;
    font-size: 12px;
    color: var(--black);
    margin-top: 120px;
}

/*Footer*/
footer {
    position: fixed;
    bottom: 0px;
    padding: 8px;
    width: 100%;

    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;

}